<div class="center jumbotran">
  <h1> Welcome to MyRecipies App</h1>
  
  <h2> This is the home page for my first Ruby on Rails App</h2>
  
  <%= link_to "Sign Up now!", "", class:"btn btn-lg btn-success" %>
</div>

<div class="row">
   <div class="col-lg-4">
     <h3 class="midrow">
        View Recipes as Guest User
     </h3> 
     <h2 class="left"> Browse and view recipies as guest and sign up later</h2>
     <p><%= link_to "Browse Recipe Lisitings", "", class: "btn btn-warning btn-small" %></p>
   </div>
   
    <div class="col-lg-4">
     <h3 class="midrow">
        View Recipes as Guest User
     </h3> 
     <h2 class="left"> Browse and view recipies as guest and sign up later</h2>
     <p><%= link_to "Browse Recipe Lisitings", "", class: "btn btn-warning btn-small" %></p>
   </div>
   
    <div class="col-lg-4">
     <h3 class="midrow">
        View Recipes as Guest User
     </h3> 
     <h2 class="left"> Browse and view recipies as guest and sign up later</h2>
     <p><%= link_to "Browse Recipe Lisitings", "", class: "btn btn-warning btn-small" %></p>
   </div>
   </div>